@import "src/assets/helpers";
@import "src/assets/variables";

.navbar-container {
    height: px(80);
    background: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        outline: none;
        background: none;
        width: calc(100% / 10);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
            font-size: px(20);
            color: $white;
        }

        &:hover:not(.selected) {
            span {
                color: $primary;
            }
        }
    }

    .selected {
        background: $primary;
    }
}
