@import "src/assets/helpers";
@import "src/assets/variables";

.game-container {
    width: px(260);
    height: px(154);
    margin: px(8);
    position: relative;

    &:hover {
        .play-button {
            visibility: visible;
            opacity: 1;
            transition: ease-in-out 250ms;
        }
    }

    img, .fallback {
        width: 100%;
        height: auto;
        border-radius: px(8);
    }

    .game-jackpot-amount {
        position: absolute;
        color: $white;
        text-align: center;
        right: 0;
        left: 0;
        top: px(16);
        margin: auto;
        font-size: px(32);
        font-weight: 700;
    }

    .fallback {
        height: 100%;
        background: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: px(20);
            color: $primary;
            font-weight: 600;
        }
    }

    .ribbon {
        height: px(115);
        width: px(115);
        position: absolute;
        right: px(-8);
        top: px(-8);
        overflow: hidden;
    }

    .ribbon .ribbon-inside {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0, rgba(141, 198, 63, 1) 45%, rgba(236, 255, 209, 1) 100%);
        color: $white;
        transform: rotate(45deg);
        position: absolute;
        right: px(-35);
        top: px(15);
        padding: px(10);
        min-width: px(120);
        text-align: center;
        font-weight: 700;
        font-size: px(20);
    }

    .ribbon .ribbon-inside:before {
        width: 0;
        height: 0;
        border-left: px(7) solid transparent;
        border-right: px(7) solid transparent;
        border-bottom: px(10) solid #3e551b;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        top: 35px;
        transform: rotate(-45deg);
    }

    .ribbon .ribbon-inside:after {
        width: 0;
        height: 0;
        border-top: px(7) solid transparent;
        border-left: px(10) solid #3e551b;
        border-bottom: px(7) solid transparent;
        position: absolute;
        left: 95%;
        right: 0;
        top: px(34);
        bottom: 0;
        content: '';
        transform: rotate(-45deg);
    }

    .play-button {
        visibility: hidden;
        opacity: 0;
        transition: ease-in-out 250ms;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        min-width: 50%;
        min-height: 40%;
        height: fit-content;
        background: linear-gradient(90deg, rgb(96, 142, 57) 0, rgba(141,198,63,1) 33%, rgba(236,255,209,1) 100%);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border: px(2) solid $secondary;
        border-radius: px(16);
        padding: px(4) px(16);
        outline: none;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
            border-radius: px(16);
        }

        &:hover:after {
            width: 120%;
            background-color: rgba(255, 255, 255, 0);
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        span {
            font-size: px(16);
            color: $secondary;
            font-weight: 600;

            &:first-child {
                font-weight: 900;
                font-size: px(30);
                color: $secondary;
            }
        }
    }
}
